body {
	font-family:"proxima-nova";
	font-size: 18px;
}

strong {
	white-space: pre-wrap;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.2em;
}

h4 {
	font-size: 1.2em;
	font-weight: 500;
}

p {
	line-height: 1.6em;
}

p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
	margin-top:60px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin-left: 0;
	margin: 0;
}

a {
	color:#5373F8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}