.badge {
	background: #5373F8;
	display: inline-block;
	padding: 5px 10px 3px;
	border-radius: 5px;
	color: #fff;
}

.badge-positive {
	background-color:rgb(23, 155, 23);
}

.badge-small {
	font-size:0.8em;
	padding: 3px 7px 2px;
}