.project {
	border-top: 1px solid #ccc;
	@include group;

	.position {
		margin-bottom: 20px;
	}

	.screenshots {
		float:right;
		margin-bottom:50px;
		margin-left:20px;
	}

	.keywords {
		width:880px;
		clear:both;
		font-size: 0.9em;

		li {
			float:left;
			margin-right:10px;
			margin-bottom: 5px;
			white-space: wrap;
			color:grey;
		}

		li:after {
			content: ',';
		}
	}	
}
